html, body {
  box-sizing: border-box;
  color: white;
  font-size: 1.25em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0.5%;
}

body, #input {
  background: #171e1d;
  font-family: monospace;
}

/* Input */
.input-wrapper {
  display: flex;
}

#input, .input-wrapper {
  color: #53eb9b;
}

#input {
  flex: 2;
  border: none;
}

#input:focus {
  outline: none;
}

/* Output */
#output-wrapper div {
  display: inline-block;
  width: 100%;
}

.header-output {
  color: #9d9d9d;
}

.error-output {
  color: #ff4e4e;
}
